{% extends "base.html" %}

{% block content %}
<h1>Hello, World</h1>

<form action="{{ url_for('index') }}" enctype="multipart/form-data" method="POST">
  {{ form.csrf_token }}

  <label>years of service</label>
  <input type="integer" name="years">
  {% for error in form.years.errors %}
  <small class="text-danger">{{ error }}</small>  
  {% endfor %}

  <br>
  
  <label>income</label>
  <input type="integer" name="income">
  {% for error in form.income.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %}

  <button class="btn btn-primary">Submit</button>

  
{% endblock %}
